body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.info-box {
    background: #222;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: 0.3s ease-in-out;
}

.info-box h3 {
    color: #ffcc00;
}

.info-box p {
    color: #ddd;
}

.info-box:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}
